<%= form_with(model: dish, local: true, :class => "form-group") do |form| %>

  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>v
  <% end %>

  <div class="field form-group">
      <label>Restaurante</label>
      <%= form.select :restaurant_id, Restaurant.all.collect {|restaurant| [restaurant.name, restaurant.id]}, :class => "form-control" %>
    </div>

  <div class="field form-group">
    <label>Nome</label>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>Preço</label>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <label>Tempo de preparo</label>
    <%= form.time_select :cooktime, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
