<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", homepage_restaurants_path %></li>
      <li><%= link_to "Restaurantes", restaurants_path %></li>
      <li><%= link_to "Refeições", meals_path %></li></li>
      <li><%= link_to "Categorias", categories_path %></li>
      <li><%= link_to "Ingredientes", ingredients_path %></li>
    </ul>
  </div>
</nav>
